@using BlazorApp.Model
@using BlazorApp.Services
@using System.Globalization
@inject OrderState OrderState
@inject NavigationManager NavigationManager
@inject PedidoService PedidoSvc



<div class="">

	<label class="form-label">Nome Completo</label>
	<InputText class="form-control mb-1" placeholder="Nome Exemplo" @bind-Value="endereco.NomeCliente" />
	<ValidationMessage For="@(() => endereco.NomeCliente)" />
	<br />

	<label class="form-label">Telefone para Contato</label>
	<InputText class="form-control mb-1" placeholder="(11) 91234-5678" @bind-Value="endereco.Telefone" />
	<ValidationMessage For="@(() => endereco.Telefone)" />
	<br />

	<label class="form-label">Cidade da Entrega</label>
	<InputText class="form-control mb-1" placeholder="Cidade Exemplo" @bind-Value="endereco.Cidade" />
	<ValidationMessage For="@(() => endereco.Cidade)" />
	<br />

	<label class="form-label">Bairro da Entrega</label>
	<InputText class="form-control mb-1" placeholder="Bairro Exemplo" @bind-Value="endereco.Bairro" />
	<ValidationMessage For="@(() => endereco.Bairro)" />
	<br />

	<label class="form-label">Rua da Entrega</label>
	<InputText class="form-control mb-1" placeholder="Rua Exemplo, 123" @bind-Value="endereco.Rua" />
	<ValidationMessage For="@(() => endereco.Rua)" />
	<br />

	<label class="form-label">Número da Casa</label>
	<InputText class="form-control mb-1" placeholder="Exemplo 123" @bind-Value="endereco.Numero" />
	<ValidationMessage For="@(() => endereco.Numero)" />

</div>



@code {
	[Parameter] public Endereco endereco { get; set; } = new();
}
